body {
  padding-bottom: 10px;
  overflow-x: hidden;
}
  
.navCircle {
  position: fixed;
  padding: 20px 20px 20px 20px;
  margin: 10px 10px 0 10px;
  border-radius: 50%;
  height: 50px;
  top: 0;
  width: 50px;
  background: rgba(41,131,214, 0.9);
  background: linear-gradient(90deg, rgba(41,131,214,0.9) 0%, rgba(56,104,92,0.9) 50%, rgba(47,44,49,0.9) 100%);
  transition: all 0.5s ease;
  z-index: 999; 
  align-items: center;
  justify-content: center;
  color: white;
}

.hamburger {
  height: 50px;
  width: auto;
}

.hamContainer {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
  display: block;
  position: relative;
  align-items: center;
  justify-items: center;
}

.navCircle div a {
  color: white;
}

.activate {
  margin: 0;
  height: 100%;
  padding-left: 30px;
  padding-top: 30px;
  width: 70%;
  transition: all 0.5s ease;
  border-radius: 0;
}

.invisible {
  visibility: hidden;
  height: 100%;
}

.navIcon {
  display: flex;
  text-align: center;
}

.navIcon p {
  text-align: center;
  font-size: 25px;
}

.navIcon img {
  margin-right: 50px;
}

.down {
  position: absolute;
  bottom: 80px;
}

.shown {
  visibility: visible;
}

.ham {
  height: 80px;
  margin-bottom: 10px;
}

.invisible p.bigTitle {
  margin-bottom: 10px;
  width: 100%;
  margin-bottom: 20px;
  color: white;
}

.bigTitle {
  font-size: 25px;
}

.subTitle {
  font-size: 15px;
}

.section1 {
  margin-top: 110px;
  height: 500px;
}

.button {
  width: 110px;
  height: 40px;
}

.l {
  width: 100%;
  margin-right: 10px;
}


.r {
  width: 100%;
  position: relative;
}

.scalable {
  width: 100%;
  height: auto;
}

.flex div .bigTitle {
  font-size: 30px;
}

.section3 {
  height: fit-content;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
}

.card {
  width: 200px;
  height: 300px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 25px;
}

.w {
  width: 50px;
}

.profileContainer .scalable {
  width: 50px;
}

.circle {
  width: 50px;
  height: 50px;
} 

.circle1 {
  width: 10px;
  height: auto;
}

.two {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex1 {
  width: 100%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.starContainer img {
  width: 35px;
  height: auto;
}

.profileContainer {
  width: 100%;
}

.imgContainer1 {
  margin-right: 15px;
}

.shown {
  display: contents;
}